<aside class="col-12 col-md-3 col-xl-2 bg-light position-sticky ck-sidebar" id="aside">

  <nav class="navbar navbar-expand-md navbar-light bg-light flex-column align-items-start">

    <div style="flex: 1 1 100%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#asideNavbarNavDropdown"
        aria-controls="asideNavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="asideNavbarNavDropdown">
      <ul class="navbar-nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link">Link001</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link002</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link003</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link004</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link005</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link006</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link007</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link008</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link009</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link010</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link011</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link012</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link013</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link014</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link015</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link016</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link017</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link018</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link019</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link020</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link021</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link022</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link023</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link024</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link025</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link026</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link027</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link028</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link029</a></li>
      </ul>
    </div>
  </nav>
</aside>