<aside class="col-12 col-md-3 col-xl-2 bg-light position-sticky ck-sidebar" id="aside">

  <nav class="navbar navbar-expand-md navbar-light bg-light flex-column align-items-start">

    <div style="flex: 1 1 100%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#asideNavbarNavDropdown"
        aria-controls="asideNavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="asideNavbarNavDropdown">
      <ul class="navbar-nav flex-column">
        {% for link in site.data.links['sidebar'] %}
          <li class="nav-item"><a href="{{ link.link | prepend: site.baseurl }}" class="nav-link">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</aside>