@font-face {
  font-family: "NotoSerif Light";
  src: url("fonts/NotoSerif-Light.ttf");
}

body {
  font-family: "NotoSerif Light"
}

.current {
  color: green;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  height: 90vh;
  margin: 10px;
}

::-webkit-scrollbar { 
  display: none; 
}

aside {
  grid-column: span 2;

  background-color: Snow;
  border-radius: 10px;
  overflow: auto;
  font-size: 8px;
  letter-spacing: 2px;
  line-height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  grid-column: span 10;

  overflow: auto;
  margin-left: 10px;
  background-color: Snow;
  letter-spacing: 2px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
  margin-left: 20px;
}

aside ul {
  list-style-type: none;
  margin-left: 10px;
  padding-left: 0px;
}

aside > ul {
  margin-bottom: 10px;
}

aside > div > ul > li > a {
  font-weight: bold;
  color: DarkSlateGray;
}

aside a {
  color: LightSlateGray;
  text-decoration: none;
}
