.current {
  color: green;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  height: 90vh;
  margin: 10px;
}

aside {
  grid-column: span 2;
  background-color: blanchedalmond;

  overflow: auto;
}

main {
  grid-column: span 10;

  overflow: auto;
  margin-left: 30px;
}

ul {
  list-style-type: none;
  margin-left: 10px;
  padding-left: 0px;
}
