<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  </head>

  <body>

    <!-- header -->
    {% include header.html %}

    <!-- 响应式布局容器 -->
    <div class="container-fluid">
    
      <div class="row flex-row flex-xl-nowrap">

        <!-- aside -->
        {% include aside.html %}

        <!-- main -->
        {% include main.html %}

        <!-- toc -->
        {% include aside_toc.html %}
      
      </div>

    </div>

    <!-- footer -->

    

    <script src="{{ '/assets/vendor/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/vendor/popper.min.js' | prepend: site.baseurl }}"></script>
	  <script src="{{ '/assets/vendor/bootstrap.min.js' | prepend: site.baseurl }}"></script>
  </body>
</html>